<p>Ak chceš byť informovaný o novinkách v projekte adaptívneho proxy servera, o tom ake projekty sme spustili a aké nové projekty pripravujeme, alebo ak sa chceš dozvedieť o výsledkoch výskumu ktorý mohol prebehnúť aj vďaka Tebe, zaregistruj si svoju emailovú adresu. Ak budeme mať niečo nové, pošleme Ti mail. Rovnaké informácie budeme publikovať aj v našom <a href="/news.xml" title="RSS">RSS</a> feede.</p>
<% form_tag :action => :create do %>
  <%= label_tag :email, 'Email:' %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Chcem dostávať novinky mailom' %>
<% end %>
