<h1>Pripravujeme</h1>

<p>
  Tu sa nachádza zoznam projektov, ktoré plánujeme spustiť. O ich spustení Ťa môžeme informovať, stačí ak si pridáš naše <a href="/news.xml" title="news feed">RSS</a> do čítačky, alebo si necháš posielať novinky na email.
</p>

<h2 class="project">Zlepšenie vyhľadávania (rýchlejšie nájdeš to čo hľadáš) <em class="launchDate">19. apríl 2010</em> </h2>
<p>
  Ako často sa Ti stáva že do Googlu napíšeš kľúčové slová, stlačíš tlačídlo "Hľadať" a zobrazí sa Ti niečo úplne iné ako čakáš? <a title="c strings" href="http://www.google.com/webhp?hl=en#&q=c+strings">Nám</a> <a title="passenger" href="http://www.google.com/webhp?hl=en#&q=passenger">sa </a><a title="context" href="http://www.google.com/webhp?hl=en#&q=context">to</a> <a title="jaguar" href="http://www.google.com/webhp?hl=en#&q=jaguar">stáva</a> <a title="cucumber" href="http://www.google.com/webhp?hl=en#&q=cucumber">často</a>.
</p>
<p>
  Vymysleli sme preto metódu, pomocou ktorej dokážeme do Tvojich zadaných kľúčových slov doplniť ďalšie kľúčové slová, ktoré <a href="http://www.google.com/webhp?hl=en#&q=passenger+apache" title="passenger+apache">Tvoj</a> <a href="http://www.google.com/webhp?hl=en#&q=context+typesetting" title="context+typesetting">pôvodný</a> <a title="jaguar console" href="http://www.google.com/webhp?hl=en#&q=jaguar+console">dopyt</a> <a title="cucumber testing" href="http://www.google.com/webhp?hl=en#&q=cucumber+testing">spresnia</a>. Na to, aby sme vedeli doplniť správne kľúčové slová, potrebujeme spoznať Tvoje záujmy. Pomocou nich Ťa totiž zapojíme do sociálnej siete a na základe aktivity blízkych osôb v Tvojej sieti Ti dokážeme pomôcť pri vyhľadávaní.
</p>
<p>
  Pomôž nám pomôcť Ti. Používaj proxy server a dovoľ nám tým zaradiť Ťa do sociálnej siete. Odporúčanie kľúčových slov plánujeme spustiť 19. apríla. 
</p>
