<p>
  This page lists all projects, deployed on our proxy server, or projects that are planned to be deployed soon. You may be notified about new projects if you subscribe to our <a href="/news.xml">RSS</a> feed or subscribe to <%= link_to 'email news', :controller => :emails, :action => :register %>. We need lots of data to perfect our methods. Help us to get them. In turn, we'll help you to improve your Web experience.
</p>

<h1 class="project">Running</h1>

<h2 class="project">Virtual communities identification (humans are social beasts)</h2>
<%= image_tag 'projects/communities.png', :title => 'Virtual communities', :class => 'project float-right' %>
<p>This project tries to extract virtual communities from the logs, that means finding people with similar interests. Virtual communities themselves are not very useful, but they provide a basis for another methods that work with feedback (like recommendations)</p>
<p>We have proposed a method that tracks various aspects of the users with (any) web system (what he searches, when he searches). Based on this data we calculate similarities, or rather similar interactions, what allows us to discover groups of very similar interactions of various people and finally, the groups that behave similarly.</p>

<div class="clear">&nbsp;</div>

<a name="bifrost"></a>
<h2 class="project">Search enhancement (you will be finding pages more quickly)</h2>
<%= image_tag 'projects/google.png', :title => 'Google', :class => 'project float-left' %>
<strong class="launchDate">19. April 2010</strong>
<p>
  How often do you enter keywords into Google, click "Search" and something completely different pops out than you expected?
<a title="c strings" href="http://www.google.com/webhp?hl=en#&q=c+strings">It</a> <a title="passenger" href="http://www.google.com/webhp?hl=en#&q=passenger">happens </a><a title="context" href="http://www.google.com/webhp?hl=en#&q=context">a</a> <a title="jaguar" href="http://www.google.com/webhp?hl=en#&q=jaguar">lot</a> <a title="cucumber" href="http://www.google.com/webhp?hl=en#&q=cucumber">to us</a>.
</p>
<p>
  We proposed a method, which can enrich your original query with additional keywords, <a href="http://www.google.com/webhp?hl=en#&q=passenger+apache" title="passenger+apache">which</a> <a href="http://www.google.com/webhp?hl=en#&q=context+typesetting" title="context+typesetting">narrow</a> <a title="jaguar console" href="http://www.google.com/webhp?hl=en#&q=jaguar+console">your</a> <a title="cucumber testing" href="http://www.google.com/webhp?hl=en#&q=cucumber+testing">search</a>. We need to know about your interests in order to link you into a social network and help you based on the activity of the persons most similar to you.
</p>

<div class="clear">&nbsp;</div>

<a name="webimp"></a>
<h2 class="project">Improved faculty website navigation (you are not the first one on that page)</h2>
<%= image_tag 'projects/fiit.png', :title => 'FIIT STU', :class => 'project float-right' %>
<strong class="launchDate">(April 2010)</strong>
<p>
  We don't know many people who are satisfied with our faculty website. Exactly the opposite, many people cannot find the information quickly and effectively. Informations about events and actions are scattered through the site and one can get lost very quickly.
</p>
<p>
  We think we have a solution to this problem. A method that analyses usage of the faculty website, detects trends (information that most users are looking for at the same time span) and we can serve the visitors a navigational menu, that will just "fit". Also you can help us to find and evaluate the right methods and help us improve our faculty website.
</p>

<div class="clear">&nbsp;</div>

<!-- <h1 class="project">Pripravujeme</h1> -->
