<ul class="foldable browsers">
  <li>
  <h2 id="firefox" class="right handle firefox">Mozilla Firefox</h2>
  <div id="firefox-fold" class="fold">
    <ol>
      <li>V menu klikni na <strong>Nástroje (Tools)</strong></li>
      <li>Klikni na <strong>Možnosti (Options)</strong></li>
      <li>V otvorenom okne klikni na záložku <strong>Pokročilé (Advanced)</strong></li>
      <li>Zvoľ záložku <strong>Sieť (Network)</strong></li>
      <li>V sekcii <strong>Pripojenie (Connection)</strong> klikni na tlačidlo <strong>Nastavenia (Settings)</strong></li>
      <li>V okne <strong>Nastavenia pripojenia (Connection settings)</strong> zvoľ možnosť <strong>Automatická konfigurácia proxy (Automatic proxy configuration URL)</strong></li>
      <li>Do poľa označeného číslom 7 vlož túto adresu: <input type="text" class="pac" value="http://nimbus.fiit.stuba.sk/proxy/proxy.pac"/></li>
      <li>Klikni na tlačidlo <strong>OK</strong> v okne <strong>Nastavenia pripojenia (Connection settings)</strong></li>
      <li>Klikni na tlačidlo <strong>OK</strong> v okne <strong>Nastavenia (Options)</strong></li>
    </ol>

    <a href="/images/pac/firefox.png" alt="Obrázkový návod na nastavenie proxy vo Firefoxe" title="Obrázkový návod na nastavenie proxy vo Firefoxe">
      <%= image_tag "pac/firefox.png", :class => "pac" %>
  </a>
  </div>
  </li>
  <li>
  <h2 class="chrome left handle">Google Chrome</h2>
  <p>
  </p>
  </li>
  <li>
  <h2 class="opera right handle">Opera</h2>
  <p>
  </p>
  </li>
  <li>
  <h2 class="ie left handle">Internet Explorer</h2>
  <p>
  </p>
  </li>
</ul>

<%= link_to '&lt;&lt; Úvod', { :action => '' }, :class => 'back_button' %>
<%= link_to 'Nastavenie User Agent &gt;&gt;', { :action => 'user_agent' }, :class => 'next_button' %>


